<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <title><%= title %></title>
    </head>
    <body>
        <h1><%= title %></h1>
        <!-- Render a list object in unorganised list for each user -->
        <ul>
            <% if (locals.users) {%> <% users.forEach(user => { %>
            <li>
                <!-- output recorded data -->
                ID: <%= user.id %>, Name: <%= user.firstName %> <%=
                user.lastName %>, Email: <%= user.email %>, Age: <%= user.age
                %>, Bio <%= user.bio %>
                <!-- Link to user update page, passing user.id -->
                <a href="/<%= user.id %>/update">Update</a>
                <!-- Button for deleting user, returns confirmation before submitting using form action -->
                <form
                    action="/<%= user.id %>/delete"
                    method="POST"
                    style="display: inline"
                >
                    <button
                        type="submit"
                        onclick="return confirm('Are you sure? This cannot be reversed.')"
                    >
                        Delete
                    </button>
                </form>
            </li>
            <% }); %> <% } %>
        </ul>
        <!-- Link for new users -->
        <a href="/create">Create new user</a>
    </body>
</html>
